//@import "compass";

article
{
    padding: 0rem 2rem;
}

.sidebar
{
    position: fixed;
    right: 2rem;
    opacity: 0.5;
    
    @include transition(all 1s ease);

    &:hover
    {
        opacity: 1;
    }
}