{% extends "layout.html" %}

{% load present %}

{% block content %}
    {% for post in posts %}
    <div class="row">
        <div class="small-12 medium-8 small-centered columns">
            <h3><a href="{% url 'posts-detail' post.slug %}">{{ post.title }}</a></h3>
            <address>{{ post.author.username }}</address>
            <p>
                {{post.editions.first.text|present|safe}}
            </p>
        </div>
    </div>
    {% endfor %}
    
    <div class="row">
        <div class="small-12 medium-3 small-centered columns text-center">
            {% if page_obj.has_previous %}
                <a class="button round small" href="?page={{ page_obj.previous_page_number }}">Newer</a>
            {% endif %}
            {% if not page_obj.has_previous %}
                <button class="button round disabled small" style="opacity: 0.1" >Newer</button>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="button round small" href="?page={{ page_obj.next_page_number }}">Older</a>
            {% endif %}
            {% if not page_obj.has_next %}
                <button class="button round small disabled" style="opacity: 0.1">Older</button>
            {% endif %}
        </div>
    </div>
{% endblock %}