{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Blog{% endblock %}</title>

    <script src="{% static 'djangoblog/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'djangoblog/bower_components/foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'djangoblog/js/app.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'djangoblog/stylesheets/app.css' %}" />

    {% block head %}
    {% endblock %}
</head>
<body>

        {% block fullcontent %}
        <nav class="main-nav">
            <div class="text-right corner-actions">
                {% if user.is_authenticated %}
                    Logged in as {{ user.username }}<br/>
                    <a href="{% url 'users-signout' %}">Sign Out</a>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'users-signin' %}">Sign In</a>
                {% endif %}
            </div>
        </nav>
        <header class="main-header text-center">
            <a href="{% url 'posts-list' %}"><h1 class="logo">words</h1></a>
        </header>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
        </footer>
        {% endblock %}

</body>
</html>